.ghost-button-transition {
     display: inline-block;
     background-color: #f8f8f8;
     color: #777;
     border: 1px solid #777;
     text-align: center;
     font-size: 15px;
     outline: none;
     transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.ghost-button-transition:hover{
  background-color: #777;
  color: #f8f8f8;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.selected {
  background-color: #777;
  color: #f8f8f8;
}

.no-border{
  border:0px;
}

.clear {
    background-color: transparent;
}

.one{
    font-size:14px;
    margin:3px;
}

.two{
    font-size:12px;
    margin:3px;

}

.three{
    font-size:10px;
    margin:3px;

}

.four{
    font-size:8px;
    margin:3px;

}

.five{
    font-size:7px;
    margin:3px;
}

.round {
    width: 100%;
    border-radius: 10px;
    border: 1px #484a4c solid;
    padding: 5px 5px 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.admin-tile {
  margin: 30px; 
  background-color: #f8f8f8; 
  max-width: 700px;
  position: relative;
  border: 1px solid rgb(231,231,231);   
}

#main-title{
    font-size: 30px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 1000;
    	line-height: 26.4px;
    	color: white;
    	text-align: center;
    	left: 30%;
    	position: absolute;
}

#main-title h1 {
    margin:auto;
    line-height:50px;
}

