<div class="container-fluid" style="background-color: white;" ng-show="hasRole('ROLE_ADMIN')">
	<div class="container">
		<div id="add-user" class="admin-tile" layout="column" layout-align="center">
			<h2 style="margin-left: 30px;">Add Account</h2>
			<form class="form-horizontal"  style=" margin: 20px;">
				<div class="alert alert-danger" role="alert" ng-show="addError"><strong>Uh oh! </strong>{{addErrorMessage}}</div>
				<div class="alert alert-success" role="alert" ng-show="addYay"><strong>Dope! </strong>{{addYayMessage}}</div>
				<div class="input-group" style="margin-bottom: 5px;">
					<span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
					<input type="text" style="outline: none;" class="form-control" placeholder="Username" aria-describedby="username" ng-model="username">
				</div>
				<div class="input-group" style="margin-bottom: 5px;">
					<span class="input-group-addon" id="password"><i class="fa fa-lock"></i></span>
					<input type="password" style="outline: none;" class="form-control" placeholder="Password" aria-describedby="password" ng-model="password">
				</div>
				<div class="input-group" style="margin-bottom: 5px;">
					<span class="input-group-addon" id="name"><i class="fa fa-child"></i></span>
					<input type="text" class="form-control" placeholder="Full Name" aria-describedby="name" ng-model="name">
				</div>
				<div class="btn-group btn-group-justified" style="margin-bottom: 5px;" role="sgroup" aria-label="lakjfd">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" style="outline: none;background-color: {{currentRole === 'USER' ? '#e4e4e4' : 'white';}}" ng-click="roleChange('USER')">USER</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" style="outline: none;background-color: {{currentRole === 'ADMIN' ? '#e4e4e4' : 'white';}}"  ng-click="roleChange('ADMIN')">ADMIN</button>
					</div>
				</div>
				<div style="text-align: center;">
					<button class="btn btn-default" style="outline: none;" ng-click="add(username, password, name)">Add Account</button>
				</div>
			</form> 
		</div>
	</div>
	<div class="container">
		<div class="admin-tile" id="sql-tables" layout="column" layout-align="center">
			<h2 style="margin-left: 30px;">Users</h2>
			<div class="alert alert-danger" role="alert" ng-show="editError"><strong>Uh oh! </strong>{{editErrorMessage}}</div>
			<div class="alert alert-success" role="alert" ng-show="editYay"><strong>Dope! </strong>{{editYayMessage}}</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th bgcolor="white" ng-repeat="(header, value) in allUsers[0]">{{header}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in allUsers" ng-click="editUser(row)">
						<td bgcolor="white" ng-repeat="cell in row">{{cell}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="admin-tile" id="clear-cache" layout="column" layout-align="center">
			<h2 style="margin-left: 30px;">Clear Server Cache</h2>
			<div style="margin: 20px;" class="alert alert-danger" role="alert" ng-show="clearError"><strong>Uh oh! </strong>{{clearErrorMessage}}</div>
			<div style="margin: 20px;" class="alert alert-success" role="alert" ng-show="clearYay"><strong>Dope! </strong>{{clearYayMessage}}</div>
			<p style="margin: 20px;">This will clear both the user data cache and the amazon s3 cache on the server. These caches help reduce the amount of requests sent to AWS so only clear server cache when necessary. <strong>Only use this when new data has been added to either database.</strong></p>
			<button style="margin-right: 20px; margin-left: 20px; margin-bottom: 5px;" class="btn btn-default" style="outline: none;" ng-click="clearCache()">Clear Cache</button>
		</div>
	</div>
</div>
<div ng-show="!hasRole('ROLE_ADMIN')">
	<p class="alert alert-info">You aren't authorized to view this. Please <a href="#!/login">login</a> on an administrator account.</p>
</div>