<md-dialog style="background-color: white;">
	<h2 style="margin-left: 30px;">{{course.name}}</h2>
	<md-content style="min-width: 500px; min-height: 500px;">
			<div ng-repeat="child in course.children" layout="column">
				<button class="btn btn-default one ghost-button-transition"
						ng-class="{'no-border' : child.children == null, 'selected' : isSelected(child.name)}"
						ng-click="handleFileClick('/' + child.name); $event.stopPropagation();"
						onclick="this.blur();">
						{{child.name}}
				</button>
				<md-content ng-if="child.children != null" ng-show="isSelected(child.name)">
					<div ng-repeat="child1 in child.children" layout="column">
						<button class="two ghost-button-transition" 
								ng-class="{'no-border' : child1.children == null, 'selected' : isSelected(child1.name)}"
								ng-click="handleFileClick('/' + child.name + '/' + child1.name); $event.stopPropagation();"
								onclick="this.blur();">
								{{child1.name}}
						</button>
						<md-content ng-if="child1.children != null" ng-show="isSelected(child1.name)">
							<div ng-repeat="child2 in child1.children" layout="column">
								<button class="btn btn-default three" 
										ng-class="{'no-border' : child2.children == null, 'selected' : isSelected(child2.name)}"
										ng-click="handleFileClick('/' + child.name + '/' + child1.name + '/' + child2.name); $event.stopPropagation();"
										onclick="this.blur();">
										{{child2.name}}
								</button>
								<md-content ng-if="child2.children != null" ng-show="isSelected(child2.name)">
									<div ng-repeat="child3 in child2.children" layout="column">
										<button class="btn btn-default four" 
												ng-class="{'no-border' : child3.children == null, 'selected' : isSelected(child3.name)}"
												ng-click="handleFileClick('/' + child.name + '/' + child1.name + '/' + child2.name + '/' + child3.name); $event.stopPropagation();"
												onclick="this.blur();">
												{{child3.name}}
										</button>
										<md-content ng-if="child3.children != null" ng-show="isSelected(child3.name)">
											<div ng-repeat="child4 in child3.children" layout="column">
												<button class="btn btn-default five" 
														ng-class="{'no-border' : child4.children == null, 'selected' : isSelected(child4.name)}"
														ng-click="handleFileClick('/' + child.name + '/' + child1.name + '/' + child2.name + '/' + child3.name +'/' + child4.name); $event.stopPropagation();"
														onclick="this.blur();">
														{{child4.name}}
												</button>
											</div>
										</md-content>
									</div>
								</md-content>
							</div>
						</md-content>
					</div>
				</md-content>
			</div>
	</md-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="close()">
			Close
		</md-button>
		<span flex></span>
	</md-dialog-actions>
</md-dialog>