<md-dialog>
	<h2 style="margin-left: 30px;">Edit Account</h2>
	<form class="form-horizontal"  style=" margin: 20px; max-width: 700px;">
	<div class="input-group" style="margin-bottom: 5px;">
		<span class="input-group-addon" id="name"><i class="fa fa-child"></i></span>
		<input type="text" class="form-control" placeholder="Full Name" aria-describedby="ename" ng-model="user.Name">
	</div>
	<div class="btn-group btn-group-justified" style="margin-bottom: 5px;" role="group" aria-label="leakjfd">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" style="outline: none;background-color: {{editCurrentRole === 'USER' ? '#e4e4e4' : 'white';}}" ng-click="editRoleChange('USER')">USER</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" style="outline: none;background-color: {{editCurrentRole === 'ADMIN' ? '#e4e4e4' : 'white';}}"  ng-click="editRoleChange('ADMIN')">ADMIN</button>
		</div>
	</div>
	<md-switch md-invert aria-label="Switch" ng-model="user.Enabled">
    	Account Enabled
  	</md-switch>
  	<md-dialog-actions layout="row">
  		<md-button class="md-warn" ng-click="delete()">
        Delete Account
      	</md-button>
        <span flex></span>
      	<md-button ng-click="update()">
      	 Update Account
      	</md-button>
    </md-dialog-actions>
</form>
</md-dialog>