<div class="page-header">
	<h2 style="margin-left: 30px">Login for Gainz</h2>
</div>
<div class="row">
	<div class="col-md-6">
	<div class="alert alert-danger" style="margin-left: 60px;" role="alert" ng-show="loginError"><strong>Uh oh! </strong>{{loginErrorMessage}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">User Name:</label>
				<div class="col-sm-9">
					<input id="username" ng-model="username" type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-9">
					<input id="password" ng-model="password" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="rememberMe"> Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit" value="Log In" class="btn btn-primary" ng-click="login()"/>
				</div>
			</div>
		</form>
	</div>
</div>