<md-content ng-cloak style="margin:10px;background-color: transparent;" ng-show="hasRole('ROLE_USER')" layout-fill>
    <md-grid-list md-cols-xs="3"
                  md-cols-sm="5"
                  md-cols-md="6"
                  md-cols-lg="7"
                  md-cols-xl="9"
                  md-gutter=2em
                  md-row-height="3:2"
                  layout-fill
                  style="background-color: transparent; height: 100%;">
        <md-grid-tile class="ghost-button-transition"
                      ng-repeat="course in courses | filter:search"
                      ng-click="clicked(course, $event);"
                      md-rowspan="1"
                      md-colspan="1"
                      style="transition: all 200ms ease-out 50ms;"
                      layout="column">
            <h2>{{course.name}}</h2>
        </md-grid-tile>
    </md-grid-list>
</md-content>
<div ng-show="!hasRole('ROLE_USER')">
    <p class="alert alert-info">You aren't authorized to view this. Please <a href="#!/login">login</a>.</p>
</div>