<!DOCTYPE html>
<html ng-app="gainz">
<head>
	<title>Gainz</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
	<script src="https://use.fontawesome.com/15cb25cacf.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="css/custom.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	<style type="text/css">
		.ng-hide {
			display: none;
		}
	</style>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>	
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</head>
<body>
	<div class="loader" ng-hide="initialized">
		<p>Loading</p>
		<p><span class="fa fa-spinner fa-spin"></span></p>
	</div>

	<nav class="navbar navbar-fixed-top navbar-default ng-hide" role="navigation" ng-show="initialized && hasRole('ROLE_USER')">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#!/testbank">Look at These Gainz</a>
			</div>
			<div id="navbar-collapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#!/testbank">Home</a></li>
					<li><a href="#!/admin">Admin</a></li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search courses" ng-model="search.name">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" ng-show="user">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.full_name}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid" layout-fill>
		<div ng-view ng-show="initialized" layout-fill></div>
	</div>
</body>
</html>